* {
    margin: 0;
    padding: 0;
}

.container {
    border-style: solid;
    border-color:rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container div {
    padding: 15px;
    font-family: Arial;
    font-size: 18px;
}

.header {
    border-style: solid;
    border-color: cornflowerblue;
    font-weight: bold;
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: blanchedalmond;
}

.search-alert-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-alert-section input[type=text] {
    
    padding: 6px;
    border: none;
    font-size: 15px;
}

.greeting-section {
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.avatar-large {
    
}
.sidebar-menu {
    border-style: solid;
    border-color: rgb(206, 98, 26);
    background-color: dodgerblue;
    grid-row: 1/ 3;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.menu-items {
    border-style: solid;
    border-color: rgb(238, 255, 233);
    grid-row: 2;
}

.main {
    border-style: solid;
    border-color: rgb(116, 12, 52);
    background-color: gainsboro;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card-section {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr); 
    gap: 15px;
}

.card {
    border-style: solid;
    border-color: rgb(237, 205, 100);
    background-color: white;
    border-radius: 6px;
}

.right-section {
    padding: 8px;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(autofit, minmax(150px, 1fr));
}

.announcements {
    border-style: solid;
    border-color: rgb(237, 100, 219);
    font-size: medium;
    background-color: white;
    border-radius: 12px; 
}

.announcement-items {
    background-color: white;
}

.title {
    font-size: large;
    font-weight: bolder;
}

.trending {
    border-style: solid;
    border-color: yellowgreen;
    background-color: white;
    border-radius: 12px;
    height: 250px;
}

button {
     
}